*{
    padding: 0;
    margin:0;
    list-style: none;
}
 
a{
    text-decoration: none;
}
.tmpl{
    margin-bottom: 55px;
}
.news-content img {
    width: 100%
}
.mint-tabbar{
    position: fixed;
    bottom:0;
   } 